<h1>Deatils of purchase order (plant rental)</h1>

<ul>

  <li>
    <strong>Plant name:</strong>
    <%= @plant.name %>
  </li>

  <li>
    <strong>Plant Description:</strong>
    <%= @plant.description %>
  </li>

<li>
    <strong>Start Date:</strong>
    <%= @plant.description %>
  </li>

  <li>
    <strong>End Date:</strong>
    <%= @plant.description %>
  </li>

  <li>
    <strong>Cost:</strong>
    <%= @plant.price %>
  </li>

</ul>
